* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 1.1em;
    text-align: center;
    color: #FFF;
}
.holy-grail header,
.holy-grail footer,
.hg-sidebar,
.holy-grail-content {
    padding: 20px;
}
.holy-grail header
{
    background-color: rgb(160, 150, 150);
}
.holy-grail footer {
    background: #FED0D1;
}
.hg-sidebar {
    background: #e9dede;
}
.holy-grail-content {
    color: #777;
}


/* header */
.Header {
    margin: 0px;
    background-color:transparent;
    padding: 0px;

  }
  /*logo */
  .Header img{
      width: 300px;
      height: 70px;
      margin-left: 20px;
      float:left;
  }
/*NAVBAR  */
  #navbar {
    overflow: hidden;
    background-color: rgb(250, 249, 249);
    height: fit-content;
  }
  
  #navbar a {
    float: right;
    display:contents;
    color: #1d1d1d;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  #navbar a:hover {
    background-color: rgb(230, 230, 230);
    color: rgb(252, 252, 252);
  }
  
  #navbar a.active {
    background-color: #e7e7e7;
    color: rgb(29, 23, 23);
  }
  /*nav bar ends */
/**
 * Flex things:
 * — Mobile first
 * — Responsive
 */
.holy-grail {
    min-height: 100vh;
}
.holy-grail,
.holy-grail-body {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
}
.holy-grail-content {
    flex: 1 1 auto;
}
@media (min-width: 768px) {
    .holy-grail-sidebar-1 {
        order: -1;
    }
    .holy-grail-body {
        flex-direction: row;
    }
    .hg-sidebar {
        flex: 0 0 260px;
    }
}